<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452777030713-ivepscfgt57njg8cm57bkmp529fnbojn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452777030713-ivepscfgt57njg8cm57bkmp529fnbojn</string>
	<key>API_KEY</key>
	<string>AIzaSyBkcNQTyFuiJcVtCLw0zbpZbKDPhMNbqDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>452777030713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justinwong.TimeTangle</string>
	<key>PROJECT_ID</key>
	<string>timetangle-42503</string>
	<key>STORAGE_BUCKET</key>
	<string>timetangle-42503.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452777030713:ios:a0f954d27006d2974509e8</string>
</dict>
</plist>